ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    grid-auto-rows: 300px;
    gap: 1rem;
    list-style: none;
  }
   
  * {
    box-sizing: content-box;
    width: 100%;
    margin: 0;
    padding: 0;
  }